In [1]:
%load_ext autoreload
%autoreload 2
import feature_extract
import sys
sys.path.append("..")
import torch
import psql_methods as psql
import pickle
import alchemy_methods as alc
from tqdm import tqdm
import numpy as np
from more_itertools import chunked
import pandas as pd
import snob_utils as snob
import counterfeit_utils as cfu
import image_utils as img

In [12]:
slugs = ['beanzofficial']*25
root = 'expanded_images/val'
label = 'beanz_random'
out_directory = 'grids'
img.slug_list_grid(root,slugs,label,out_directory,randomize=False,grid_size=5)

In [2]:
slugs = cfu.count_overlaps('boredapeyachtclub').query('sorted_order<=8')
display(slugs)
slugs = list(slugs['slug'])
print(slugs)

                        slug  sorted_order  row_count
18            0xapes-trilogy             1        100
6250               orangapes             2          2
4331  japanesebornapesociety             3         17
8786       tiredapeyachtclub             4          0
1291       brokeapeclub-v2-1             5          0
7760            solanapesnft             6          3
5934    nifty-tailor-genesis             7        334
7236      rocknroll-ape-club             8          0

['0xapes-trilogy', 'orangapes', 'japanesebornapesociety', 'tiredapeyachtclub', 'brokeapeclub-v2-1', 'solanapesnft', 'nifty-tailor-genesis', 'rocknroll-ape-club']

In [4]:
reorg_slugs = slugs[:3]+[slugs[-1]]+['boredapeyachtclub']+[slugs[3]]+[slugs[-2]]+[slugs[-3]]+[slugs[-4]]

In [5]:
print(reorg_slugs)

['0xapes-trilogy', 'orangapes', 'japanesebornapesociety', 'rocknroll-ape-club', 'boredapeyachtclub', 'tiredapeyachtclub', 'nifty-tailor-genesis', 'solanapesnft', 'brokeapeclub-v2-1']

In [6]:
root = 'images_features/graph_images/val'
label = 'ape_grid_v2'
out_directory = 'images_features/grids'
img.slug_list_grid(root,reorg_slugs,label,out_directory,randomize=False,grid_size=3,border=True)

0 0 0xapes-trilogy
0 1 orangapes
0 2 japanesebornapesociety
1 0 rocknroll-ape-club
1 1 boredapeyachtclub
1 2 tiredapeyachtclub
2 0 nifty-tailor-genesis
2 1 solanapesnft
2 2 brokeapeclub-v2-1