In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append("..")
from SyntheticControlMethods import Synth
import synth_utils as su
import pandas as pd
import numpy as np
import synth_job as sj
import Dino.cf_value as cfv
import Dino.counterfeit_utils as cfu

In [2]:
df_1 = pd.read_pickle('sales.pkl')
df_2 = pd.read_pickle('master_df.pkl')
df_1

           timestamp  price    slug
0         1705601783   7.28   azuki
1         1705600535   7.29   azuki
2         1705598759   7.35   azuki
3         1705598627   7.79   azuki
4         1705596347   7.39   azuki
...              ...    ...     ...
17495487  1639338809   2.90  clonex
17495488  1639338517   3.30  clonex
17495489  1639338385   3.25  clonex
17495490  1639338376   3.99  clonex
17495491  1639338209   3.30  clonex

[17495492 rows x 3 columns]

In [4]:
df_2

               Top_100                        Alt    alt_date
0            0n1-force          0xvampire-project  2021-09-15
1            0n1-force                     0xzuki  2022-02-04
2            0n1-force         tokyo-brave-heroes  2022-06-29
3            0n1-force               roars-by-ntp  2023-04-28
4            0n1-force                   mekazuki  2022-03-12
..                 ...                        ...         ...
4   world-of-women-nft               chillennials  2022-09-30
5   world-of-women-nft  asian-identity-collection  2022-04-22
6   world-of-women-nft     world-of-boys-official  2022-01-30
7   world-of-women-nft                   stargals  2022-06-04
8   world-of-women-nft         lovelywomens-world  2022-05-25

[1458 rows x 3 columns]